@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 255, 255, 255;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 0, 0, 0;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--foreground-rgb));
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

input:focus {
  border: none;
  outline: none;
}
/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
}

#nprogress .bar {
  @apply !bg-purple;
}
.fcenter {
  @apply flex items-center justify-center;
}

.abcenter {
  @apply absolute top-1/2 left-1/2 -translate-x-1/2 -translate-y-1/2;
}

.clickable {
  @apply duration-default active:scale-95 hover:brightness-75 cursor-pointer;
}

::-webkit-scrollbar {
  width:  10px;
  height: 10px;
}

::-webkit-scrollbar-thumb {
  @apply bg-purple;

  border-radius: 999px;
  background-clip: padding-box;
  border: 3px solid transparent;
  cursor: pointer;
}

::-webkit-scrollbar-track {
  background-color: transparent;
  border-radius: 999px;
}